<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <hr>
    <br>
    <form method="post" enctype="multipart/form-data">
       
        <label for="user_email">Email:</label>
        <input type="email" name="user_email" id="user_email" placeholder="Email" required>
        <br>
        <label for="user_password">Password:</label>
        <input type="password" name="user_password" id="user_password" placeholder="Password" required>
        <br>
       
        <button type="button" onclick="submitBtn()">Login</button>
    </form>
</body>
</html>